* {
	margin: 0;
	padding: 0;
	font-family: arial;
}
#root {
	width: 100%;
	margin: 0 auto;
	text-align: center;
  }
header {
	width: 100%;
	background-image: url('../img/dk2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 200px 0;
	text-align: center;
}

h1 {
text-align: center;
margin: 20px 0 60px;
}

.form {
	margin: 0 0 0 5%;
	display: flex;
}

.form form {
	margin-left: 2%;
	margin-top: 6px;
    display: flex;
}

#send {
	margin-left: 1%;
}

.info {
	display: inline-block;
	margin-top: 50px;
}


.info #list {
	width: 130%;
	display: inline-block;
	padding: 20px 2%;
    margin-left: 5%;
    vertical-align: top;
    border: 2px solid black;
    border-radius: 10px;

}

.info #list li {
	list-style: none;
	margin-bottom: 5px;
}

.info #result {
	margin-left: 5%;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
	padding: 0 2% 20px;
}



.info .hide {
	display: none !important;
}